.dark-mode {
    .project-details {
        .content {
            color: #FFFFFF;

            .head {
                h1 {
                    color: #FFFFFF;
                }
            }
        }
    }
}

.project-details {
    margin: 90px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    .image-container {
        position: relative;
        display: inline-block;

        .project-image {
            border-radius: 8px;
            max-width: 600px;
            cursor: pointer;
        }
    }

    .icon-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        cursor: pointer;
        border-radius: 8px;

        .icon {
            width: 35px;
            height: 35px;
        }
    }

    .image-container:hover .icon-overlay {
        opacity: 1;
    }

    .content {
        max-width: 650px;
        color: #1D2130;

        .head {
            margin-bottom: 12px;
            display: flex;
            justify-content: space-between;

            h1 {
                color: #1D2130;
                font-size: 28px;
                font-weight: 600;
            }

            img {
                width: 35px;
                height: 35px;
            }
        }

        .description {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 400;
        }

        .basicLanguage,
        .libraries {
            margin-bottom: 12px;
            font-size: 18px;
            font-weight: 500;
        }

        button {
            margin-top: 25px;
            padding: 12px 32px;
            border: none;
            border-radius: 8px;
            background-color: #583FBC;

            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}

.line {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width : 992px) {
    .project-details {
        flex-direction: column;

        .content {
            text-align: center;
        }
    }
}